<html>
<head>
  <link rel="stylesheet" type="text/css" href="/public/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="/public/css/site.css" />
</head>
<body>
  <div id="content"></div>
  <script src="/public/dist/js/app.js"></script>
</body>
</html>
